/* body {
  font-family: Optima, Candara, Calibri, "Droid Sans", Arial, sans-serif;
  font-weight: 400;
} */

/* code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
} */

/* h1, h2, h3 {
  font-family: Palatino, Book Antiqua, serif;
} */