{{ partial "header.html" . }}
<div class="title">{{ .Title }}</div>
<br>
    <!-- <div class="row">
        <div class="col">
                <div class="float-end mx-1 my-1 col-sm-6 order-sm-2 mb-3">
                    <img width="500px" src="{{ .Params.image }}">
                </div>
                {{ range $i, $paragraph := split .Params.address "\n" }}
                    <p style="margin-top: 10px;">{{ $paragraph }}</p>
                {{ end }}
        </div>
    </div> -->
    {{ .Content }}
    <hr class="border-dark opacity-70"/>
    {{ partial "comment.html" . }}
{{ partial "footer.html" . }}