{{ partial "header.html" . }}
<div class="title">{{ .Title }}</div>
{{ $sortedPages := sort .Pages "Params.order" "asc" }}
    {{ range $sortedPages }}
        {{ if eq .Params.draft false }}
            <div class="row">
                <div class="col">
                    <ul class="posts">
                        <li class="itemindex">
                            <h2><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h2>
                        </li>
                    </ul>
                    <h6>{{ .Params.subtitle}}</h6>
                    <div class="float-end mx-1 my-1" style="max-width: 50%;" >
                        <img width="256px" src="{{ .Params.image }}">
                    </div> 
                    {{ range $i, $paragraph := split .Params.description "\n" }}
                        <p style="margin-top: 10px;">{{ $paragraph }}</p>
                    {{ end }}
                    {{ if and (isset .Params "email") (ne .Params.email "none") }}
                    <a href="{{ .Params.email }}" class="btn btn-sm btn-outline-dark z-depth-0 mt-1 mb-1" role="button" target="_blank">Email</a>
                    {{ end }}
                    {{ if and (isset .Params "website") (ne .Params.website "none") }}
                        <a href="{{ .Params.website }}" class="btn btn-sm btn-outline-dark z-depth-0 mt-1 mb-1" role="button" target="_blank">Website</a>
                    {{ end }}
                    {{ if and (isset .Params "file") (ne .Params.file "none") }}
                        <a href="{{ .Params.file }}" class="btn btn-sm btn-outline-dark z-depth-0 mt-1 mb-1" role="button" target="_blank">File</a>
                    {{ end }}
                    {{ if and (isset .Params "code") (ne .Params.code "none") }}
                        <a href="{{ .Params.code }}" class="btn btn-sm btn-outline-dark z-depth-0 mt-1 mb-1" role="button" target="_blank">Code</a>
                    {{ end }}
                    {{ if and (isset .Params "data") (ne .Params.data "none") }}
                        <a href="{{ .Params.data }}" class="btn btn-sm btn-outline-dark z-depth-0 mt-1 mb-1" role="button" target="_blank">Data</a>
                    {{ end }}
                    {{ if and (isset .Params "orcid") (ne .Params.orcid "none") }}
                        <a href="{{ .Params.orcid }}" class="btn btn-sm btn-outline-dark z-depth-0 mt-1 mb-1" role="button" target="_blank">ORCID</a>
                    {{ end }}
                    {{ if and (isset .Params "github") (ne .Params.github "none") }}
                        <a href="{{ .Params.github }}" class="btn btn-sm btn-outline-dark z-depth-0 mt-1 mb-1" role="button" target="_blank">GitHub</a>
                    {{ end }}
                </div>
            </div>
        <!-- <hr class="border-dark opacity-70"/> -->
        {{ end }}
    {{ end }}
{{ partial "footer.html" . }}
