  </div>
  </div>
  <footer>
  {{ partial "foot_custom.html" . }}

    {{if .IsHome }}
      <small>
        <span class="ml-2">© {{ .Site.Params.authorName}} {{ now.Format "2006" }}</span>

        <br>
        {{ i18n "powered_by" | default "Powered by" }} <a href="{{ .Site.Params.theme.url}}">{{ .Site.Params.theme.name}}</a>

        <br>
        {{ if .Site.Params.enableUpdated }}
        {{ i18n "last_updated" | default "Last updated: " }}{{ .Lastmod.Format (i18n "format_date_footer") }}
        {{ end }}
      </small>
    {{end}}

    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
      diameter: 56,
      backgroundColor: '#BCBCBC',
      textColor: '#fff'
    })
    </script>
    <!-- https://github.com/vfeskov/vanilla-back-to-top -->

  </footer>
  </body>
</html>
