<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.3/csshake.min.css" />

<div class="shake {{ .Get "effect" }}">{{ .Inner }}</div>

<div class="shake"></div> 
<div class="shake shake-hard"></div> 
<div class="shake shake-slow"></div> 
<div class="shake shake-little"></div> 
<div class="shake shake-horizontal"></div> 
<div class="shake shake-vertical"></div> 
<div class="shake shake-rotate"></div> 
<div class="shake shake-opacity"></div> 
<div class="shake shake-crazy"></div>
<!-- Freeze the animation at that point when :hover --> 
<div class="shake shake-freeze"></div> 
<!-- Continuous animation instead on :hover --> 
<div class="shake shake-constant"></div> 
